<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/impressum']">
              Impressum
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/cookies']">
              Cookierichtlinie
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/gdpr']">
              Datenschutz
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
