<img class="path" src="../../../assets/img/path1.png" />
<div class="container">
  <h2 class="title">Galerie</h2>
  <div id="images">
    <div class="row">
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Image
        </small>
        <img
          alt="Rounded image"
          class="img-fluid rounded shadow"
          src="../../../assets/img/ryan.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Circle Image
        </small>
        <img
          alt="Circle image"
          class="img-fluid rounded-circle shadow"
          src="../../../assets/img/james.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6 mt-5 mt-sm-0">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Raised
        </small>
        <img
          alt="Raised image"
          class="img-fluid rounded shadow-lg"
          src="../../../assets/img/lora.jpg"
          style="width: 150px;"
        />
      </div>
      <div class="col-sm-3 col-6 mt-5 mt-sm-0">
        <small class="d-block text-uppercase font-weight-bold mb-4">
          Circle Raised
        </small>
        <img
          alt="Raised circle image"
          class="img-fluid rounded-circle shadow-lg"
          src="../../../assets/img/mike.jpg"
          style="width: 150px;"
        />
      </div>
    </div>
  </div>
</div>
