<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
      >
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            [routerLink]="['/home']"
            placement="bottom"
            tooltip="Zurück zum Start"
            (click)="isCollapsed = !isCollapsed"
          >
            <p class="d-lg-none d-xl-none">Home</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/scjunkies"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.instagram.com/scjunkies"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/scjunkies"
            placement="bottom"
            target="_blank"
            tooltip="Zum Mitgliedsantrag"
          >
            <p class="d-lg-none d-xl-none">Galerie</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/scjunkies"
            placement="bottom"
            target="_blank"
            tooltip="Zum Mitgliedsantrag"
          >
            <p class="d-lg-none d-xl-none">Spielberichte</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/scjunkies"
            placement="bottom"
            target="_blank"
            tooltip="Zum Mitgliedsantrag"
          >
            <p class="d-lg-none d-xl-none">Archiv</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.facebook.com/scjunkies"
            placement="bottom"
            target="_blank"
            tooltip="Zum Mitgliedsantrag"
          >
            <p class="d-lg-none d-xl-none">Mitglied werden</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

